/*
 *  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
*,*:before,*:after{box-sizing:inherit}
html{box-sizing:border-box}

/*
 * happy little clean slate here
 */

@import '../variables.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic);

html, body, #root, .App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  background-color: color($color-lblue lightness(95%));
}
  .App-inner {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    position: relative;
  }
    .App-main {
      flex-grow: 1;
    }
      .IpaInput {
        position: relative;
        z-index: 2;
        box-shadow: 0 0 4px #bbb;
        border: 1px solid $color-lblue;

        &:before {
          content: 'TREE:';
          display: block;
          position: absolute;
          left: 16px;
          top: 10px;
          z-index: 3;
          font-size: 0.8em;
          font-weight: bold;
          color: $color-brown;
        }

        input {
          border: 0;
          padding: 8px 16px 8px 60px;
          background-color: $color-lblue;
          color: color($color-brown lightness(40%));

          &:focus {
            background-color: color($color-blue lightness(88%));
            color: color($color-brown lightness(10%));
          }
        }

        &:hover {
          box-shadow: 0 0 4px #999;
          border: 1px solid $color-blue;

          input {
            background-color: color($color-blue lightness(88%));
            color: color($color-brown lightness(20%));
          }
        }
      }
        .IpaInput__list {
          li {
            padding: 1em;
            background-color: color($color-lblue lightness(+5%));
          }
          box-shadow: 0 0 4px #999;
        }
      .App-tree {
        margin: 16px;
        padding: 8px;
        display: inline-block;
        background-color: white;
        border: 1px solid $color-lblue;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      }