$color-tan: rgb(217, 206, 178); /* Innocence #d9ceb2 */
$color-lbrown: rgb(148, 140, 117); /* Kind Giant #948c75 */
$color-lblue: rgb(213, 222, 217); /* Bond #d5ded9 */
$color-brown: rgb(122, 106, 83); /* Pachyderm #7a6a53 */
$color-blue: rgb(153, 178, 183); /* Forever #99b2b7 */

$transition: 0.1s ease-out;